body{
	background-image: url("../img/form.jpg");
	
	
}
      .center{
         margin-left:300px;
         font-family:Arial;
         font-size:30px;
		 color:azure;
        }
       
      label{
          color:white;
      }
        
        .form_input_right{
            float:left;
        }
        
        .form_style{

            height:200px;
        }

        textarea{
            border:solid 2px black;
            border-top-right-radius:20px;
            border-bottom-left-radius:20px;
            background-color:;
            color:black;
        }
        .text_area{
            font-family:Arial;
            margin-left:340px;
            margin-top:30px
        }
        
        .button{
            
            margin-top:10px;
            margin-left:450px;
        }
       
        
        .input_style{
            background-color:#ededed;
            height:20px;
            width:250px;
            padding:2px 0px 2px 2px;
			border-radius:5px;
            
        }
       
         .send_btn_style{
            background-color:lawngreen;
            border:solid 2px green;
            border-radius:5px;
        }
        
         .send_btn_style:hover{
            background-color:green;
            border:solid 4px green;
            color:white;
        }
        
         .cancel_btn_style{
            background-color:red;
            border:solid 2px black;
            border-radius:5px;
            color:white;
        }
         
         .cancel_btn_style:hover {
             background-color: red;
             border: solid 6px red;
             border-radius: 5px;
             color: white;
         }
         
         
         .back{
            
             font-size:30px;
             height:35px;
             width:90px;
			 background-color:silver;
			 border-radius:5px;
             color:azure;

             
             
             
             margin-left:290px;
            
         }
		 .middle{
			 width:700px;
			 margin:200px auto 0px auto;
			 border:double  2px blue;
			 border-radius:30px;
			 padding:20px;
             background-color:black;
             opacity:0.7;
		 }