body{
position:absolute;
background-repeat:no-repeat;
color:#ffffff;
background-image:url(../img/nissan.jpg);
}
.div1{
float:left;
width:50px;
padding:60px 70px;
margin:10px 15px;
}


.footer{
background-color:black;
opacity:0.8;
width:100%;

position:fixed;
left:0;
bottom:0px;
}
.main{
position:fixed;
background-color:black;
opacity:0.7;
width:400px;
padding:20px 20px;
}
.main1{
background-color:black;
opacity: 0.7;
padding: 30px 20px;
width:100%;
position:fixed;
top:150px;
left:500px;
}

span{
font-family:Arial;
font-size:14px;

margin:0;
}


.menu-list{

list-style:none;
padding:0;
margin:0;
}
.menu-list  a{

font-family:Arial;
text-decoration:none;
color:#ffffff;
}
.menu > li{

padding:0px 0px;
margin: 0px 4px;
float:left;

}
.menu-list a{

padding:0px 20px;

}
.mintext{
font-size:10px;
padding-left:20px;
color:blue;}
.menu > li .menu-list{
position:absolute;

background:black;
opacity:0.8;

}
.menu > li > a{
width:40px;

font-size:14px;


}
.menu > li > a:hover{
color:#ffffff;

}
.menu > li > .menu-list{
margin:30px 0px;
display:none;
}
.menu > li:hover .menu-list{
display:block;

}










.jssorb03 {
            position: absolute;
        }
        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            background: url('img/b03.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb03 div { background-position: -5px -4px; }
        .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
        .jssorb03 .av { background-position: -65px -4px; }
        .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

        /* jssor slider arrow navigator skin 03 css */
        /*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        */
        .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('img/a03.png') no-repeat;
            overflow: hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03l.jssora03ldn { background-position: -243px -33px; }
        .jssora03r.jssora03rdn { background-position: -303px -33px; }
