h1{
text-align:center;
}
h4{
text-align:center;}
.main1{
top:0;
left:0;
position:absolute;
width:100%;
height:100%;
background-color:black;
opacity:0.8;
}
body{
background-image:url(../img/nissan.jpg)
}

a{
text-decoration:underline;
color:blue;}

.main{
z-index:1;
position:fixed;
top:170px;
left:450px;
background-color:ffffff;
width:450px;
padding: 20px 20px;
}

#reset{
font-size:18px;
color:#ffffff;
background-color:#038AC6;
}
