       body{
           min-width:1340px;
       }
        header {
            width: 100%;
            min-width: 1300px;
            height: 80px;
            background-color:black ;
            position:fixed;
            z-index:1;
            top:0px;
        }
        .ikn{
            width:210px;
            height:60px;
            background-color:#03D2DC;
            margin-left:40px;
            font-family:Adobe Arabic;
            font-size:40px;
            color:#282828;
            padding:20px 0px 0px 0px;
            float:left;
            border-radius:4px;
        }
          
        .menu{
            width:700px;
            height:80px;
            float:left;
        }
        li {
            float: left;
            width: 100px;
            display: block;
            
        }

          

        a {
            font-family:'Segoe UI';
            text-decoration: none;
            color:white;
        }
       
        .search{
            width:700px;
            height:40px;
            
        }
        .srch{
            width:550px;
            float:left;
            background-color:#B4B4B4;
            border:none;
            margin:10px 0px 0px 40px;
            height:25px;
        }
        .btn{
            float:left;
            margin-top:10px;
            border:none;
            height:25px;

        }
        .login{
            width:300px;
            height:80px;
            float:left;
            
        }
        .log>p{
            color:white;
            margin:10px 0px 5px 10px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .log>span{
            font-size:30px;
            color:#03D2DC;
            margin-left:80px;
            font-family: sans-serif;
        }
        .log{
            float:left;
        }
        .button{
            background-color:#03D2DC;
            border-radius:3px;
            font-family:'Adobe Arabic';
            font-size:20px;
            width:90px;
            height:30px;
            margin:20px 0px 0px 20px;
        }
        
        .sitebar {
            margin: 80px 0px 5px 0px;
            width: 300px;
            height: 800px;
            float: left;
            background-color: aquamarine;
        }
        .map{
            width:300px;
            height:400px;
            border-radius:5px;
            
        }

        .main {
            margin: 80px 0px 5px 0px;
            height: 800px;
            width:1040px;
            background-color: ;
            float:left;
        }

        footer {
            background-color:#B4B4B4;
            width: 100%;
            height: 150px;
           float:left;
           padding-top:0px;
        }
        .ftr{
            margin:20px auto;
            width:400px;
        }
        .bsn{
            font-size:40px;
            color:#4D6082;
        }
        .bsnadd{
            font-size:20px;
            
            margin-left:120px;
            color:#4D6082;
        }
        .B1{
            margin-left:75px;
            width:100%;
        }
        hr{
            width:100px;
            
        }
        .B{
            float:left;
            font-size:50px;
            color:#4D6082;
        }

      
    