       body{
           min-width:1340px;
       }
        header {
            width: 100%;
            min-width: 1300px;
            height: 100px;
            background-color:#123DE9 ;
            position:fixed;
            z-index:1;
            top:0px;
        }
        .ikn{
            width:210px;
            height:60px;
            background-color:#03D2DC;
            margin:10px 0px 0px 40px;
            font-family:Adobe Arabic;
            font-size:40px;
            color:#282828;
            padding:20px 0px 0px 0px;
            float:left;
            border-radius:4px;
        }
          
        .menu{
            width:700px;
            height:80px;
            float:left;
            margin-left:30px;
        }
        li {
            float: left;
            width: 100px;
            display: block;
            
        }

          

        a {
            font-family:'Segoe UI';
            text-decoration: none;
            color:white;
        }
       
        .search{
            width:700px;
            height:70px;
           
            
            
        }
        .srch{
            width:505px;
            float:left;
            
            border:none;
            margin:10px 0px 0px 40px;
            height:25px;
            color:black;
            padding-left:20px;
        }
        .btn{
            float:left;
            margin-top:10px;
            border:none;
            height:25px;

        }
        .login{
            width:300px;
            height:80px;
            float:left;
            
        }
        .log>p{
            color:white;
            margin:10px 0px 5px 10px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .log>span{
            font-size:30px;
            color:#03D2DC;
            margin-left:80px;
            font-family: sans-serif;
        }
        .log{
            float:left;
        }
        .button{
            background-color:#03D2DC;
            border-radius:3px;
            font-family:'Adobe Arabic';
            font-size:20px;
            width:90px;
            height:30px;
            margin:20px 0px 0px 20px;
        }
        
        .sitebar {
            margin: 100px 0px 5px 0px;
            width: 300px;
            
            float: left;
            background-color:#AAE0F7;
            border:solid 2px gray;
            border-radius:3px;
            padding:20px 10px 0px 10px;
        }
        .country{
            width:250px;
            height:300px;
            font-family:'Adobe Arabic';
            font-size:25px;
            background-color:azure;
            border-radius:5px;
            padding:20px;
        }
        .map{
            width:295px;
            height:400px;
            border-radius:5px;
            border:solid 1px gray;
            margin:30px 0px 20px 0px;
            
            
            
        }

        .main {
            margin: 100px 0px 5px 5px;
            
            width:1000px;
            background-color:#3AE4F7 ;
            float:left;
            border-radius:5px;
            border:solid 3px gray;
        }
        .prod{
            width:200px;
            height:250px;
            margin:23px;
            background-color:azure;
            float:left;
            border:solid 2px grey;
            border-radius:3px;
        }
        .unit{
             width:200px;
            height:50px;
            background-color:darkgrey;
            font-family:Arial;
            border-radius:3px;
            position:relative;
            top:200px;
            
            

        }
        .unit>span{
            font-size:25px;
            display:block;
            width:80px;
            height:25px;
            position:relative;
            top:20px;
            left:110px;
        }

        footer {
            background-color:#B4B4B4;
            width: 100%;
            height: 150px;
           float:left;
           padding-top:0px;
        }
        .ftr{
            margin:20px auto;
            width:400px;
        }
        .bsn{
            font-size:40px;
            color:#4D6082;
        }
        .bsnadd{
            font-size:20px;
            
            margin-left:120px;
            color:#4D6082;
        }
        .B1{
            margin-left:75px;
            width:100%;
        }
        hr{
            width:100px;
            
        }
        .B{
            float:left;
            font-size:50px;
            color:#4D6082;
        }

      
    